.sign-in-container{
  background: #DAEAF1;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-textfield{
  width:30rem;
  margin: 1rem;
}

.options-container{
  display: flex;
  width:30rem;
  justify-content: space-between;
}

.columnContainer{
  display:flex;
  flex-direction: column;
}